<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

		<form action="/users" method="post">
			Enter a text: <input type="text" name="userText"><br>
	    <input type="submit" value="OK">

		</form>

  </body>
</html>
