<!DOCTYPE html>
<html>
  <head>
    <title>tolowercase</title>
    <h1> PLEASE INPUT SOME WORDS WITH CAPITAL LETTERS </h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form method = "post" action="users">
        <input name="name" type="text" placeholder="please input text here">
        <button type="submit"> submit </button>
      </form>
  </body>
</html>
