<!DOCTYPE html>
<html>
  <head>
    <title>input</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>input</h1>
    <form method="post" action="users">
      <input type="text" name="name">
      <button type="submit"> submit </button>
    </form>
  </body>
</html>
