<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>

    <h1>Users page</h1>
    <form action="users" method="post">
      <label for="">
        Input ada Huruf besarnya
      </br>
        <input type="text" name="user">
      </label>
    </br>
    <button type="submit"> submit </button>
  </form>


  </body>
</html>