<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ini Halaman Utama</h1>
    <h2>Untuk mengakses halaman Submit Form : localhost:3000/users </h2>
  </body>
</html>
